services:
  # MySQL (PRIVATE SERVICE)
  - type: pserv
    name: mysql
    env: docker
    plan: free
    dockerfilePath: mysql/Dockerfile
    envVars:
      - key: MYSQL_ROOT_PASSWORD
        sync: false
      - key: MYSQL_DATABASE
        sync: false

  # Merchant Service
  - type: web
    name: merchant-service
    env: docker
    plan: free
    dockerfilePath: merchant-service/Dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: docker
      - key: DB_HOST
        value: mysql

  # Payment Integration Service
  - type: web
    name: payment-integration-service
    env: docker
    plan: free
    dockerfilePath: payment-integration-service/Dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: docker
      - key: DB_HOST
        value: mysql

  # Stripe Provider Service
  - type: web
    name: stripe-provider-service
    env: docker
    plan: free
    dockerfilePath: stripe-provider-service/Dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: docker
