services:
  # Merchant Service
  - type: web
    name: merchant-service
    env: docker
    plan: free
    dockerfilePath: ./merchant-service/Dockerfile
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: PAYMENT_INTEGRATION_BASE_URL
        sync: false

  # Payment Integration Service
  - type: web
    name: payment-integration-service
    env: docker
    plan: free
    dockerfilePath: ./payment-integration-service/Dockerfile
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: PROVIDER_STRIPE_BASE_URL
        sync: false
      - key: INTERNAL_API_KEY
        sync: false

  # Stripe Provider Service
  - type: web
    name: stripe-provider-service
    env: docker
    plan: free
    dockerfilePath: ./stripe-provider-service/Dockerfile
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: PAYMENT_INTEGRATION_BASE_URL
        sync: false
      - key: INTERNAL_API_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
